@import "variables";

html {
  width: 100%;
  min-height: 100vh;
  font-size: 20px;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  color: #0d1d12;
  background-color: $background-color;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}