$main-container: 1200px;

$min-mobile-width: 320px;
$mobile-container: 560px;
$mobile-breakpoint: 768px;

$header-height: 98px;
$header-height-mobile: 60px;
$header-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

$primary-color: #3fb984;
$secondary-color: #32475e;
$background-color: #f2f7f4;